*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
src/xmldiff
missing
depcomp
compile
install-sh
test/*.log
test/*.trs
test/*/output.xml
test-driver
test/test-results/
